:root {
    --white: #f6fafb;
    --black: #000;

    --dark-brown: #471001;
    --medium-brown: #8a491f;
    --light-brown: #d79e50;
    --light-blue: #b7bcc0;
    --dark-blue: #627e9a;
}

html, body {
    margin:0;
    height:100%;
    min-height:100%;
    min-width: 500px;
  }

html {
    font-family: 'Source Sans Pro';
}

body {
    background-color: var(--white);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

hr {
    width: 400px;
    background-color: var(--dark-blue);
    height: 2px;
    border: none;
}

hr:first-child {
    height: 5px;
}

button {
    background-color: var(--light-blue);
    padding: 10px;
    font-weight: bolder;
    border-radius: 25px;
    width: 400px;
    margin: auto;
    border-color: var(--white);
    border-width: 1px;
    border-style: solid;
}

button:hover {
    border-color: var(--light-blue);
    background-color: var(--white);
    cursor: pointer;
    color: var(--dark-blue);
}

h1 {
    font-size: 40px;
}

h4 {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--white);
}

.row {
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.row:last-of-type {
    padding: 20px;
}

.row > li {
    padding-left: 20px;
    padding-right: 20px;
}

.spaced > li {
    padding-top: 10px;
}

.col {
    flex-direction: column;
}

.no-pad-top {
    padding-top: 0px !important;
}

.item {
    flex-basis: 0;
    padding: 20px;
}

.footer {
    background-color: var(--dark-blue);
    color: var(--white);
}

.flex-cont { 
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex1 {
    flex-grow: 1;
}

.flex2 {
    flex-grow: 2;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.center {
    justify-content: center;
}

.center-v {
    align-items: center;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}

.text-center{
    text-align:center;
}

.text-right {
    text-align: right;
}

.white {
    color: var(--white);
}

.spc-left {
    margin-left: 10px;
}

.me {
    display: inline-block;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    background-position: 50% 50% !important;
    background-size: cover !important;
    background: url('img/me1.png')
}

.input {
    padding: 10px;
    margin: 10px 0;
}

.hide {
    display: none;
}

.error {
    margin:auto;
    color: var(--dark-blue);
}

.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section:nth-child(even) {
    background-color: var(--light-blue);
    color: var(--black);
}

.errs {
    background-color: var(--white);
}

@media screen and (max-width: 800px) {
    .row.flex-cont {
        padding-left: 2%;
        padding-right: 2%;
    }
    hr {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    button {
        width: 100%;
    }
}