:root {
    --white: #f6fafb;
    --brown: #d49c6b;
    --light-gray: #c1c8c7;
    --dark-gray: #5e6668;
    --black: #252b31;
}

.flexmenu {
    width: 100%;
    background-color: var(--brown);
    color: var(--white);
    line-height: 1.4em;
    border-color: var(--white);
    border-bottom-style: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.5em;
}
.menu {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    width: 15%;
    font-weight: bold;
}
.menu:first-child {
    display: inline-flex;
    justify-content: left;
    width: 80%;
    margin-left: 0;
    margin-right: auto;
}
.menu a {
    color: var(--white);
    text-decoration: none;
    padding:0 0.5em;
}
.menu:nth-child(n+2):hover {
    background-color: var(--dark-gray);
    color: var(--black);
    border-radius: 0.5em;
}
.mobile-menu {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1.2em;
}
.menu-icon {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: inline-flex;
}

.menu:not(:first-child) {
    padding-left: 15px;
    min-width: 100px;
}

.menu:first-child, .mobile-menu {
    font-size: 30px;
}

@media screen and (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
    .flex {
        flex-direction: row;
    }
    .menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        font-weight: bold;
    }
}
